*{
  margin: 0;
  padding: 0;
}
.body-content {
    min-height: 600px !important;
  }
  #register-course-modal input {
    border: none;
    border-bottom: 1px solid #dee2e6;
    width: 100%;
  }
  #register-course-modal input:not(:last-child) {
    margin-bottom: 2rem;
  }
  .classes {
    padding-right: 3rem;
  }
  .class {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
  }
  .class-time {
    text-align: center;
    width: 160px;
    min-height: 160px;
    color: #fff;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    position: relative;
    font-weight: 300;
  }
  .class-year {
    border-top-left-radius: 4px;
    padding: 3px 0;
  }
  .class-datetime {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
  }
  .class-date {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  .class:nth-child(4n + 1) .class-time {
    background-color: #fe6d3f;
  }
  .class:nth-child(4n + 1) .class-time .class-year {
    background-color: #ef5321;
  }
  .class:nth-child(4n + 2) .class-time {
    background-color: #4b96f2;
  }
  .class:nth-child(4n + 2) .class-year {
    background-color: #2682f2;
  }
  .class:nth-child(4n + 3) .class-time {
    background-color: #fbbc05;
  }
  .class:nth-child(4n + 3) .class-time .class-year {
    background-color: #f89707;
  }
  .class:nth-child(4n + 4) .class-time {
    background-color: #4db446;
  }
  .class:nth-child(4n + 4) .class-time .class-year {
    background-color: #088d2d;
  }
  .class-info {
    width: calc(100% - 160px);
    padding: 1rem 1.5rem 0 1.5rem;
    min-height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .clear {
    clear: both;
  }
  .class-title {
    font-size: 1.3rem;
  }
  .class-title a {
    color: #464646;
  }
  .class-title a:hover {
    text-decoration: underline;
  }
  .teachers {
    font-size: 0.9rem;
    font-weight: 300;
  }
  .timetable {
    padding: 7px 0;
    font-size: 0.9rem;
  }
  .timetable-item {
    width: 33.33%;
    float: left;
    font-weight: 300;
  }
  .timetable-item i {
    color: #757575;
  }
  .register {
    padding: 7px 0 5px 0;
    color: #3c78e8;
    font-weight: 300;
    border-top: 0.5px solid #c4c4c4e3;
    cursor: pointer;
  }
  @media (max-width: 1199px) {
    .classes {
      padding-right: 2rem;
    }
  }
  @media (max-width: 991px) {
    .classes {
      padding-right: 15px;
    }
  }
  @media (max-width: 767px) {
    .timetable-item {
      width: 50%;
      margin-top: 5px;
    }
  }
  @media (max-width: 575px) {
    .class {
      flex-wrap: wrap;
    }
    .class-info,
    .class-time {
      flex: 1 100%;
    }
    .timetable-item {
      width: 100%;
      margin-top: 5px;
    }
  }