*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
body{
    color: rgba(31, 31, 31, 0.918);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: rgba(253, 253, 253, 0.897);
}
.clearfix{
    zoom: 1;
}
.clearfix:after{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.intro{
    margin: 30px auto;
    width: 1140px;
}
.intro .image{
    float: left;
    width: 520px;
}
.inntro .image img{
    width: 520px;
    height: 380px;
}
.intro .detail {
    float: right;
    width: 560px;
}
.intro .detail h2 {
    color: #333;
    font-size: 36px;
    margin-bottom: 42px;
    position: relative;
}
.intro .detail h2:after {
    background-color: #324ad1;
    bottom: -6px;
    content: "";
    display: block;
    left: 0;
    height: 3px;
    width: 100px;
    position: absolute;
}
.intro .detail .info-text {
    margin-bottom: 22px;
}
.intro .detail .back a{
    border: 1px solid #324ad1;
    display: inline-block;
    font-size: 14px;
    height: 42px;
    line-height: 42px;
    min-width: 118px;
    text-align: center;
    text-decoration: none;
    transition: 0.3s all;
    margin-bottom: 50px;
    color: #333;
}
.intro .detail .back a:hover{
    background-color: #324ad1;
    color: white;
}