* {
    margin: 0;
    padding: 0;
  }
  ul {
    list-style: none;
  }
  .clearfix {
    zoom: 1;
  }
  .clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
  }
  body {
    color: rgb(22, 22, 22);
    font-family: Helvetica,sans-serif;
    font-size: 16px;
    line-height: 1.8;
    overflow-x: hidden;
  }
  .wight {
    margin: auto;
    width: auto;
  }
  .wight li{
      margin: 15px;
      border: 1px solid rgb(90, 83, 83);
      float: left;
      width: 601px;
      transition: 0.3s all;
      background-color: rgb(230, 224, 224);
  }
  .wight li:hover{
      border: 1px rgb(17, 108, 131);
      background: #105D97;

}
.wight li img{
    height: 600px;
    width: 600px;
}
.wight desc{
    padding: 10px;
    text-align: center;
}
.wight li:nth-child(4n) {
  margin-right: 0;
}
.wight li:nth-child(3n+1) {
  clear:left;
}
.text{
    text-align: center;
    padding: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif
}